
<div class="project-list">
  <div class="project-list__top-container" i18n>Projects</div>
  <div class="project-list__body">
    <div class="project-list__body__tree">
      <app-tree-view [sourceUrl]="'api/projects'" [icon]="'folder'" (selectedNodeEvent)="selectProject($event)"></app-tree-view>
    </div>
  </div>
</div>

<div class="project-content">
  <div class="project-content__top-container">
    <span *ngFor="let type of projectContentTypes"
          [ngClass]="{'project-content__top-container--active-type': selectedProjectContentType === type.value}"
          (click)="selectedProjectContentType = type.value">{{type.label}}</span>
  </div>
  <div class="project-content__bottom-container">
    <app-project-list-content *ngIf="selectedProject" [project]="selectedProject" [type]="selectedProjectContentType"></app-project-list-content>
  </div>
</div>
