.content-item {
  position: relative;
  border: 0;
  border-radius: 2px;
  background-color: var(--background-color);
  box-shadow: 0 1px 2px 0 rgb(9 30 66 / 25%);
}

.content-item__label {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 1px 8px;
  border-radius: 3px;
  background: var(--active-color);
  color: white;
}
