
.header {
  height: 50px;
  z-index: 100;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #79589F;
  color: var(--white);
  display: inline-flex;
  align-items: center;
}

.header__right {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  margin-left: auto;
  padding-right: 60px;
}

.action-button {
  cursor: pointer;
}

.main {
  position: relative;
  top: 150px;
  bottom: 80px;
  margin-left: 15%;
  margin-right: 15%;
  height: 650px;
  background: var(--background-color);
  -webkit-box-shadow: 0 40px 85px rgb(0 0 0 / 30%);
  box-shadow: 0 40px 85px rgb(0 0 0 / 30%);
}
