
.main {
  position: relative;
  top: 130px;
  bottom: 80px;
  margin-left: 15%;
  margin-right: 15%;
  height: 700px;
  -webkit-box-shadow: 0 40px 85px rgb(0 0 0 / 30%);
  box-shadow: 0 40px 85px rgb(0 0 0 / 30%);
}
